@font-face {
    font-family:"ChenYuluoyan";
    src: url("../../ray/ChenYuluoyan-Thin.ttf") format("truetype");
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .popup {
      width: 80%; /* Adjust the width percentage for smaller screens */
    }
  }

body {
    background-color: #F8F2F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #BEC0E1;
    border: 3px solid #E2D2E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"ChenYuluoyan";
    color: #9A7E9F;
    font-size: 10px;
}

.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 400px; 
    background: #fff; 
    border-radius: 6px;
    position: absolute; 
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #9A7E9F;
    font-family:"ChenYuluoyan";
    font-size: 20px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup { 
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close {
    padding: .5rem;
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    color: #9A7E9F;
}

.airplane{
    display: inline-flex;
    align-items: center;
    padding: 8px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
}
.airplane:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.sun{
    display: inline-flex;
    align-items: center;
    padding: 8px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
}
.sun:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
